body {
  margin: 0;
  padding: 0;
  background: radial-gradient(rgb(244, 195, 0), transparent)
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 100px;
  margin: 0;
  padding: 0;
  }

  .col {
    flex: 1;
  }

  .button-container {
    text-align: center;
    width: 100vw;
    margin-bottom: 20px;
  }
  
  button {
    background-color: rgb(244, 195, 0);
    color: rgb(0, 0, 0);
    width: 50%;
    height: 50px;
    margin: 0 auto;
    font-size: xx-large;
    cursor: pointer;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    font-family: 'Arial', sans-serif;
    font-size: xx-large;
  }

  button:hover {
    background-color: rgb(255, 205, 0); 
    transform: scale(1.05); 
  }

  #hive-container {
    text-align: center;
    pointer-events: none;
  }

h2 {
  padding-left: 40px;
  text-align: left;
}
  
  ul {
    padding-left: 40px;
    font-weight: 500;
    font-size: large;
    list-style-type: none;
  }

  figure {
    margin: 10px;
  }


/* Loading Screen style */

#loadingScreen {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(244, 195, 0,1);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 9999; /* Above everything */
  transition: opacity 1s ease-out;
}

#flyingBee {
  position: relative;
  width: 100px;
  animation: flyAcross 3s ease-in-out infinite;
}

@keyframes flyAcross {
  0% {
      left: -50vw;
      transform: rotate(20deg);
  }
  50% {
      left: 50vw;
      transform: rotate(-20deg);
  }
  100% {
      left: 100vw;
      transform: rotate(0deg);
  }
}

.hidden {
  opacity: 0;
  pointer-events: none;
}


/* Responsive  Layour */

figcaption {
  font-weight: 800;
  color: green;
}

@media  screen and (width <= 576px){
  img[beeIndex] {
    width: 75px;
    height: 75px;
  }

  figcaption {
    
    font-size: small;
    
  }

  ul {
    font-size: large;
  }

  h2 {
    font-size: x-large;
  }
}

@media  screen and (width > 576px) and (width <= 768px){
  img[beeIndex] {
    width: 100px;
    height: 100px;
  }

  figcaption {
    font-size: large;
  }

  ul {
    font-size: large;
  }

  h2 {
    font-size: x-large;
  }
}

@media  screen and (width > 768px) and (width <= 992px){
  img[beeIndex] {
    width: 100px;
    height: 75px;
  }

  figcaption {
    font-size: small;
  }

  ul {
    font-size: small;
  }

  h2 {
    font-size: large;
  }
}

@media  screen and (width > 992px) and (width <= 1200px){
  img[beeIndex] {
    width: 150px;
    height: 100px;
  }

  figcaption {
    font-size: large;
  }

  ul {
    font-size: large;
  }

  h2 {
    font-size: x-large;
  }
}

@media  screen and (width > 1200px) {
  img[beeIndex] {
    width: 250px;
    height: 150px;
  }

  figcaption {
    font-size: x-large;
  }

  ul {
    font-size: x-large;
  }

  h2 {
    font-size: xx-large;
  }
}